#my-popup {
  width: 78px;
  height: 35px;
  background: #139ab5;
  box-sizing: border-box; /* for inside padding */
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;

  opacity: 1;
  animation: fade 2s linear;

  /* for center */
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* for hider */
  display: none;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

@font-face {
  font-family: "Mochiy Pop One";
  src: url("/fonts/MochiyPopOne-Regular.ttf");
}

h4,
h3,
li,
input,
#my-popup {
  /* font-family: "Anton", sans-serif; */
  font-family: "Mochiy Pop One", sans-serif;
}

h4,
h3 {
  /* text-decoration: underline; */
}

.commit-messages {
  font-size: 0.7em;
}

#enter_ad_name {
  width: 60%;
}

#custom-commit {
  width: 40%;
  margin-top: 5px;
}
#enter_ad_name_button {
  position: relative;
  top: -3px;
}
p {
  font-size: 12px;
  padding-left: 10%;
  padding-right: 10%;
  color: #12a1c9;
}
button {
  margin-top: -15px;
}
.ad_name_copy {
  margin-top: 5px;
  margin-left: 5px;
}
.btn-do-data {
  margin-top: -15px;
}
.copy {
  font-size: 16px;
}
ul li {
  display: inline !important;
  margin: 3px;
}
ul {
  padding-inline-start: 0px !important;
}
.hide {
  color: #fff;
  overflow: hidden;
  max-height: 0.1px;
  max-width: 0.1px;
}
